// bower:scss
// endbower

@import
    "foundation-settings",
    "foundation",
    "spinner";

body {
    background-color: #000;
    background-image:url('../images/konsert.jpg');
    background-size:100% auto;
    background-repeat:no-repeat;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:24px;
    line-height:1.5;
    color: #333;
}

.eye-catcher {
    margin-top:7rem;
}

.interest {
    @include grid-row();
    background:rgba(255,255,255,0.55);
    border-radius:0.6rem;

    .intro,
    .sign-up {
	@include grid-column(6);
    }

    .intro {
	font-size:1.2rem;

	h1 {
	    margin-bottom:0;
	}

	h1 + p {
	    display:inline;
	    font-size:1.25rem;
	}
    }

    .sign-up {
	font-size:1.5rem;
	position:relative;

	input {
	    font-size:1.5rem;
	    padding:0.3rem;
	    border-radius:0.4rem;
	    border:0 none;
	}
    }
}

#site-topbar {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #e99835;
    width: 100%;
    height: 30px;
    text-align: center;
    overflow: hidden;
    z-index: 2;

    .topbar-logo {
	background: url(https://viteboka.studentersamfundet.no/w/skins/viteboka/images/dns-topbar.png?2013-09-16T12:51:40Z) no-repeat;
	display: inline-block;
	width: 271px;
	height: 100%;
	margin-top: 4px;
	text-indent: -9999px;
    }
}

footer {
    color:rgba(255,255,255,0.65);
    font-size:1rem;
    position:fixed;
    bottom:0;
    right:0;
    text-align:right;
}
